#!/bin/bash
DIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" && pwd )"
. $DIR/scada.js/tools/service-runner/tmux-launch
launch-service $(calc-session-name "$0")


# run commands in tmux session
run-in-tmux 'xdg-open .' 'atom .'
run-in-tmux "cd scada.js" "gulp --webapp showcase"
run-in-tmux "cd servers" './run-ls webserver.ls'
run-in-tmux "cat config.ls"
