h2.ui.centered.header Hello {{name}}!

.ui.segment
    | You can use Ractive here. Type your name 
    .ui.input: input(value="{{name}}" placeholder="here")

p
    i.large.icon.dashboard     
    | Any built-in components (look at scada.js/components) will also work as usual

slider(inline value="{{x}}")
progress(type="circle" value="{{x}}")
