h3 Toggle PLC output
ack-button(
    on-buttonclick="toggleFan" 
    value="{{fanState}}"
    class!="{{#if fanState}}red{{else}}green{{/if}}") 
    +iff('fanState')
        | Run
    +else
        | Stop
    +endif
