h1.ui.horizontal.divider.header 
    i.dashboard.icon 
    | SCADA Components 
        
include ./previews/progress/progress.pug
include ./previews/slider.pug
include ./previews/drawing-area.pug

sync(value="{{progress.one.curr}}" topic="public.slider")
